.container{
    /* 横幅 */
    width: 100%;
    /* 高さ */
    height: 500px;
    /* 枠 */
    border: 1px solid black;

    display: flex;
    flex-direction: column-reverse;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: center; */

    justify-content: flex-end;

    align-items: center;
}

.items{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}