.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: red;/*背景色*/
  }

.main{
    width: 900px;
    height: 500px;
    border: black solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}